 * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif ;
 }

 #form {
    width: 720px;
    height: 420px;
    background-color: rgba(51, 109, 196, 0.39);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px ;
    text-align: center;
 }

 input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}
.submit {
    text-align: center;
}


label  {
    display: block;
    cursor: pointer;
}
 input { 
    width: 20em;
}

.Error-div {
    display: flex;
    justify-content: center;
    opacity: 1;
    background-color: red;
    width: 450px;
    margin: 0 auto;
    border-radius: 10px  
}
.Error-div, p {
    color: white;
}

